<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- old NPICBCSY3C connection removed; use NPIC_BCS_Y3_CConnectionString -->
        <add name="NPIC.BCS.Y3.C.Properties.Settings.masterConnectionString"
            connectionString="Data Source=(local);Initial Catalog=master;User ID=sa;Password=971423;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="NPIC.BCS.Y3.C.Properties.Settings.NPIC_BCS_Y3_CConnectionString"
            connectionString="Data Source=Sophanith;Initial Catalog=NPIC_BCS_Y3_C;User ID=sa;Password=971423;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>